#ödüller img{
  width: 80%;
  margin: 0 auto;
}
#ödüller .pricing-item-1 .pricing-header{
  text-align: center;
  background-color: #92278f;
  overflow: hidden;
  padding: 36px 30px;

}
#ödüller .pricing-item-2 .pricing-header{
background-color: #ff9822;
overflow: hidden;
padding: 36px 30px;
text-align: center;

}
#ödüller .pricing-item-3 .pricing-header{
background-color: #65ac4c;
overflow: hidden;
padding: 36px 30px;
text-align: center;

}

#ödüller  .name{
    color: #fff;
    display: inline-block;
    padding: 5px 0px;
}
#ödüller .speaker-award{
margin-bottom: 30px;
}
#header img{
margin-top:-20px;
}

.hackathon-logo-tekli{
    max-width: 450px;
    margin: 150px auto;
}
#banner h2{
    color: #ffffff;
    font-size: 26px;
    text-align: center;
}
#banner {
height:900px;

}
#banner img{
  max-width: 450px;
  margin: 150px auto;
}
.banner-overlay{
  background: -webkit-linear-gradient(left, rgba(248,214,21,.7), rgba(240,36,25,.7));
}
#sponsorlar{
  background-image:url(../../images/backgrounds/bg-sponsors-1.jpg);
}
#sponsorlar .overlay {
    background: -webkit-linear-gradient(left, rgba(248,214,21,.7), rgba(240,36,25,.7));
}
#teknolojİler{
  background-image:url(../../images/backgrounds/bg-sponsors-1.jpg);
}
#teknolojİler h3 {
  color: #fff;
}
#teknolojİler p {
  color: #fff;
}
#committee .section-header h3{
    text-align: center;
    display: inline-block;
    margin: 0 25px;
    font-size: 30px;
    font-family: inherit;
    text-decoration: none;

}
#committee a{
      transition: .25s;
}
#committee .section-header h3.active a{
  text-decoration: none;

}
#committee a:focus{
    color: #fff;

}

#committee{
    background-image:url(../../images/backgrounds/bg-speakers-1.jpg);
}

#speaker .speaker-content{
      background-color: rgba(232, 75, 58, .42);
}
#footer{
  background-image:url(../../images/backgrounds/bg-footer-1.jpg);
}
