{% load staticfiles %}

{% block content %}
<!-- Footer Start here -->
<footer class="footer-six">
  <div class="overlay home-six-overlay">
    <div class="container">
      <h2><img src="{%static "images/houseofapps.png" %}" style="max-width=100%;height:80px;" /></h2><br/>
      <ul class="event-social">
        <li><a href="https://www.linkedin.com/company/5184691"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/houseofappsinfo"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <br/>



      </ul>
    </div>
  </div>
</footer>

{% endblock content %}
